/* Polish Fonts - Steelfish with Polish characters support */

@font-face {
    font-family: 'Steelfish';
    src: url('/fonts/Steelfish Rg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steelfish';
    src: url('/fonts/Steelfish Bd It.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Steelfish';
    src: url('/fonts/Steelfish Outline.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    font-variant: outline;
}

@font-face {
    font-family: 'Kenyan Coffee';
    src: url('/fonts/Kenyan Coffee Rg It.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}